@import "~antd/dist/antd.css";

.ant-select-multiple .ant-select-selection-item {
  height: 27px;
}
.app {
  /* padding: 0 30rem; */
  width: 500px;
  margin: 0 auto;
}
.app-wrap {
  width: 100%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  box-shadow: rgb(191 191 191) 0px 0px 10px 4px;
  border-radius: 5px;
  height: 90vh;
}
.close-btn {
  font-size: 20px;
  color: #e90f0f;
  /* margin-left: 30px; */
}
.edit-btn {
  cursor: pointer;
  margin-left: 20px;
}
.todos-list-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list {
  height: 80%;
  max-height: 28rem;
  overflow-y: auto;
  word-break: break-word;
}
.input-add {
  display: flex !important;
}
.btn-delete-all {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

@media only screen and (max-width: 1024px) {
  .app {
    padding: 0 100px 40px;
    width: unset;
  }
  .app-wrap {
    height: 100vh;
  }
  .todo-list {
    height: 80%;
    max-height: 40rem;
  }
}

@media only screen and (max-width: 600px) {
  .app {
    padding: 0 14px 40px;
  }
  .todo-list {
    height: 60%;
    max-height: 18rem;
  }
  .input-add {
    flex-direction: column;
  }
  .option-add {
    margin: 10px 0;
  }
}
